* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-text: rgb(44, 62, 80);
    --color-bg: rgb(255, 255, 255);
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    height: 100vh;
    color: var(--color-text);
    background: var(--color-bg);
    transition: color 0.5s, background-color 0.5s;
    font-size: 18px;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
}

header {
    flex: 0 1 auto;

}

main {
    flex: 1 1 auto;
}

.currency__item {
    display: flex;
    gap: 1px;
}

.search {
    padding: 10px 20px;
    border: 1px solid lightgray;
    width: 100%;
    border-radius: 4px;
}

.currency__item-head {
    font-weight: bold;
}

.cell {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.05);
    padding: 5px;
    text-align: center;
    font-size: 13px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.currency__item-change.grow {
    color: green;
}

.currency__item-change {
    font-weight: bold;
    color: red;
}

.currency__empty {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.converter {
    display: flex;
    gap: 20px;
}

.converter__left,
.converter__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.converter__change-button {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    cursor: pointer;
}

.tabs__header {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    border-bottom: 1px solid lightgray;
}

.tabs__item {
    flex: 1;
    padding: 5px 0;
    border-radius: 5px 5px 0 0;
    transition: .4s all ease-out;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.tabs__item.selected {
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid lightgray;
    border-bottom: 0;
    pointer-events: none;
}

h1 {
    text-align: center;
}

.tabs__content {
    padding-top: 20px;
}